@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
   margin: 0;
   padding: 0;
   
}
body{
  font-family: 'Quicksand', sans-serif;
}

.content-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: min-content; */
  gap: 20px;

}
.card-item{
  cursor: pointer;
  justify-content: center;
  align-items: center;
}